<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/audisellingAuctionPage.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/slick-theme.css">
    
      <!-- fontawsome kit -->
    <script src="https://kit.fontawesome.com/f105d44546.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">


    <title>Power Performance Cars</title>
  </head>
  <body>
    <div>
        <div class=" topbar">
            <ul >
                <li ><a  href="./misecellinousCarPage.html">Miscellaneous</a></li>       
                <li ><a  href="./audisellingPageLeaseoption.html">Car Selling Lease</a></li>     
                <li ><a  href="./blog.html">Blog</a></li> 
                <li ><a  href="./carsellingPage.html">Events</a></li>   
                <li ><a  href="./login.html">Login </a></li>
                <li ><a  href="./changPassword.html">Change Password </a></li>
                <li ><a  href="./audisellingAuctionPage.html">Car Selling Auction</a></li>
                <li ><a  href="./audisellingPage.html" >Car Selling </a> </li>
                <li ><a  href="./garageServices.html" >Garage Service </a> </li>
            </ul>
          </div>
        <header>
            <div class="header">
                <nav class="navbar navbar-expand-lg headerbackground">
                    <a class="navbar-brand" href="../index.html"><img src="../img/logo/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" style="color: #fff;"></i>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <hr class="hr">
                        <li class="nav-item">
                          <a class="nav-link" href="./americanMusclesCarPage.html">American Muscle</a>
                        </li>
                        <hr class="hr">
                        <li class="nav-item">
                            <a class="nav-link" href="./auctionCarPage.html">Auction Car</a>
                         
                        </li>
                        <hr class="hr">
                        <li class="nav-item">
                          <a class="nav-link" href="./searchLeaseCarPage.html">Lease Cars</a>
                        </li>
                        <hr class="hr">
                        <li class="nav-item">
                            <a class="nav-link" href="./rentalCarPage.html">Rental</a>
                           
                           
                        </li>
                        <hr class="hr">
                        <li class="nav-item">
                         
                          <a class="nav-link" href="./ClassifiedCar.html">Classified</a>
                        </li>
                        <hr class="hr">
                        <li class="nav-item" >
                          <a class="nav-link" href="./swapcarPage.html">Swaps</a>
                        </li>
                     
    
                      <div class=" buttongroup">
                          <button class="signinbtn"> <span style="padding-right: 5px;"><img src="../img/logo/Path 4266.png" alt=""></span>sign in</button>
                          <button class="createadbtn" > Sell My Car</button>
                          
    
                      </div>
                    </div>
                  </nav>
            </div>
        </header>

        </div>
        <div class="CarDetailSection">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class=" row imagecontaner">
                            <div class="col-8 audimainimg">
                                <p>20% OFF</p>
                                <img src="../img/audiselling/mainpic.jpg" alt="">

                            </div>
                            <div class="col-4">
                                <div class="row sideimg">
                                    <div class="col-12">
                                        <img src="../img/audiselling/1.jpg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <img src="../img/audiselling/2.jpg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <img src="../img/audiselling/3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row sharediv">
                            <div class="col-2 hearshareicon">
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-share-alt"></i>
                            </div>
                            <div class="col-2 rating">
                               
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star laststar"></i>
                                
                            </div>
                            <div class="col-4 reviewsnumber"> 4.5 Ratings <span style=" color: #000000;"> | </span> 114 Reviews  </div>
                            <div class="col-4 reportcar"> <i class="fas fa-exclamation-triangle"></i>Report this car</div>
                        </div>
                        <div class="col-12 cardescription p-0">
                            <h3>Description</h3>
                            <p>This unique Knot cushion is inspired by nautical elements and aesthetics. The cushion features an original tying technique that makes it both beautiful and functional. It adds a pop of color and texture to any room.  </p>
                        </div>
                        <div class="col-12 techspecs p-0">
                            <h3>Tech Specs</h3>
                        </div>
                        <div class="row">
                        <div class="col-12"><hr></div>

                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">

                                        <img src="../img/techspecsIcon/1.png" alt="">
                                        <a class="card-title">
                                           
                                            Economy & Performance
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">

                                        <img src="../img/techspecsIcon/2.png" alt="">
                                        <a class="card-title">
                                           
                                            Driver Convenience
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                      
                        <div class="row">
                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">

                                        <img src="../img/techspecsIcon/3.png" alt="">
                                        <a class="card-title">
                                           
                                            Safety
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                      
                        <div class="row">
                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">

                                        <img src="../img/techspecsIcon/4.png" alt="">
                                        <a class="card-title">
                                           
                                            Exterior Features
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">

                                        <img src="../img/techspecsIcon/5.png" alt="">
                                        <a class="card-title">
                                           
                                            Interior Features
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <div id="accordion" class="accordion">
                                <div class="card mb-0">
                                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">

                                        <img src="../img/techspecsIcon/7.png" alt="">
                                        <a class="card-title">
                                           
                                            Dimensions
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                               nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                qui officia deserunt mollit anim id est laborum. 
                                            </p>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>                     
                        <div class="col-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-12 techspecs p-0">
                                <h3>TSeller Location</h3>
                            </div>
                            <div class="col-12 map" style="width:100%;height:auto;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13610.381922114779!2d74.38530752237786!3d31.480312101747103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391905fd556dd06b%3A0xd3d9770b88f0c919!2sDha%20Phase%201%2C%20Lahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1589234663895!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                            </div>
                        </div>
                      
                      

                        
                        
                        
                   
                        
                        <div class="row commentSection">
                            <div class="col-12 comments"> 
                                Comments
                            </div>
                            <div class="col-12 commentsmargin ">
                                <div class="clientRating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star laststarclientration"></i>
                                    <span style="color: #707070;font-size:12px;font-weight:bolder;">3 days</span>
                                    <p>
                                        Amazing piece. Super comfortable to kick back on or for propping up my feet. Color is true<br> to image. Love it!
                                    </p>
                                   
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 clientimages"><img src="../img/clientimages/1.png" alt=""></div>
                                    <div class="col-6 clientName p-0">
                                        <h6>John Smith, Architector</h6>
                                        <p>Los Angeles, CA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-12 ">
                                <div class="clientRating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star laststarclientration"></i>
                                    <span style="color: #707070;font-size:12px;font-weight:bolder;">3 days</span>
                                    <p>
                                        The coolest piece of furniture you’ll ever own!! It fits perfectly next my living room couch. Everyone who comes over comments on it!
                                    </p>
                                    
                                   
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 clientimages"><img src="../img/clientimages/2.png" alt=""></div>
                                    <div class="col-6 clientName p-0">
                                        <h6>John Smith, Architector</h6>
                                        <p>San Francisco, CA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-12 ">
                                <div class="clientRating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star laststarclientration"></i>
                                    <span style="color: #707070;font-size:12px;font-weight:bolder;">3 days</span>
                                    <p>
                                        The coolest piece of furniture you’ll ever own!! It fits perfectly next my living room couch. Everyone who comes over comments on it!                                     </p>
                                   
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 clientimages"><img src="../img/clientimages/1.png" alt=""></div>
                                    <div class="col-6 clientName p-0">
                                        <h6>John Smith, Architector</h6>
                                        <p>San Francisco, CA</p>
                                    </div>
                                </div>
                            </div>


                           
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-7 carname p-0">
                                <h2>Audi AUDI A1</h2>
                                  <h2> Prosmatic 2018</h2>
                            </div>
                            <div class="col-5 cardiv">
                            <div class=" carprice ">
                                <p ><span > RPP</span>  <del> £26,125</del></p>
                            </div>
                            <div class="  carspecspric">
                                £25,360
                            </div>
                        </div>
                            <div class="col-8 p-0 carspecs">
                                <p>Sportback S line 35 TFSI 150 PS S tronic
                                    1.5 5dr</p>
                            </div>
                          
                           
                            <div class="col-4 p-0 save">
                                <span style="color: #707070;font-size: 16px;padding-right: 10px;">Save</span> 
                                <div class="saveprice">£280</div>
                                
                            </div>
                            <div class="col-12 powerdiv p-0">
                                <img src="../img/clientimages/Path 4361.png" alt="">
                                68 buyers have viewed this car in the last 24 hours
                            </div>
                            <div class="col-12">
                            <div class=" row m soldby">
                                <div class="col-6 alignsolddiv ">
                                    <p class="m-0">Sold by</p>
                                    <h3 class="m-0">Prada Car Gear</h3>
                                     <h4 class="m-0">(UK Melbourne)</h4>
                                </div>
                                <div class="col-6 soldbydiv">
                                   <p class="m-0">Chat Now</p> 
                                </div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 alignsolddiv">
                                  
                                    <h3 class="m-0">Seller Type</h3>
                                    
                                </div>
                                <div class="col-6 soldbydiv" style="display: flex; align-items: center;  justify-content: center;">
                                    <select class="form-control" placeholder="Seller Type" style="border: solid 1px #707070; border-radius: 0;">
                                        <option>Private</option>
                                        <option>Owner</option>
                                      
                                        
                                      </select>
                                </div>
                                <div class="row m-0 borderdiv">
                                    <div class="col-4 " >
                                      <p  > Positive Seller Rating</p>  
                                      <h1>63%</h1>
                                    </div>
                                    <div class="col-4 sideborder " >
                                       <p  > Ship on Time</p>
                                       <h1>98%</h1> 
                                    </div>
                                    <div class="col-4 " >
                                        <p  >Chat Response
                                            Rate</p>
                                            <h1>93%</h1>
                                    </div>

                                </div>
                                <div class="col-12 gtprofile">
                                    Go to Profile 
                                </div>

                            </div>
                        </div>
                            
                        </div>
                        <div class="row auctionSection">
                            <div class="col-12 auctiondetailheading">
                                <i class="fas fa-file-alt"></i>
                                Auction Dettail
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-7 subheadind">Bid Amount Reached </div>
                            <div class="col-5 ">
                                 <div class="  carspecspric">
                                     £25,360
                                 </div>
                          </div>
                          <div class="col-12">
                              <div class="row btnsdiv">
                              <div class="col-6">
                                  <label>Pre Bid Closed</label>
                                  <button class="prebidbtn" href="#">Pre Bid</button>
                              </div>
                              <div class="col-6">
                                <label>Pre Bid Closed</label>
                                <button class="livbidbtn" href="#">Live Bid</button>
                              </div>
                            </div>
                          </div>
                            <div class="col-12">
                                <div class="form-group">
                                <label for="sel1">Enter your max bid amount</label>
                                    <select class="form-control" id="sel1">
                                      <option>e.g. 50% (1,212,500)</option>
                                      <option>e.g. 50% (1,212,500)</option>
                                      <option>e.g. 50% (1,212,500)</option>
                                      <option>e.g. 50% (1,212,500)</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-12 lastline">
                                <p>22 Bids <span>(You're on top)</span></p>
                              
                            </div>
                            
                            
                        
                        
                        </div>
                        <div class="col-12 happydeal">
                            <div class=" row clock" id="timer">
                                <div class="col-4" id="days"></div>
                                <div class="col-4" id="hours"></div>
                                <div class="col-4" id="minutes"></div>
                              </div>
                           

                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
       
      
        <div class="leasecarsection">
            <div class="container">
            <div class="row headingsection">
                <div class="col-4 ">
                    <div class="Leasecarsectionheading"> View Similar Product</div>
                    
                    <img src="../img/featuredCar/Group 3236.png">
                </div>
                <div class="col-8  p-0 hrsection">
                    <hr >
                </div>
              


            </div>
           </div>
           <div class=" sliderdiv">
              
                
                       
                        <div class="slickslidercontent">
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/1.jpg" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/2.png" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/3.jpg" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/4.jpg" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/2.png" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           <div class="col-12">
                               <div class="card" >
                                   <div class="cardimage">
                                       <p>Used</p>
                                       <img class="card-img-top" src="../img/leasecarsection/1.jpg" alt="Card image cap">
                                   </div>
                                   <div class="card-body">
                                     <p class="card-text">2020 Volkswagen Passat</p>
                                     <p class="cardPrice">$ 7.766</p>
                                     <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                   </div>
                                 </div>
                           </div>
                           
                        </div>
                                         
                                   
                                           
                 
               
               <div class="viewalldeals">
                   <p>Viwe All Leasing deals <span><i class="fas fa-long-arrow-alt-right"></i></span></p>
               </div>
           </div>

        </div>
           
        <div class="swapsection">
            <div class="row m-0 p-0">
                <div class="col-sm-12 cl-md-12 col-lg-6 col-xlg-6  colpadding">
                    <img class="blogimg" src="../img/swap/Image.jpg" >
                
                </div>
                <div class="col-sm-12 cl-md-12 col-lg-6 col-xlg-6  colpadding" style="position: relative;background-color: #f8f8f8;">
                    <div class="row ">
                        <div class="col-10 swapdiv">
                            <div class="row"> 
                        <div class= "col-7 swapheading"> 
                            Swap your car
                        </div>
                        <div class="col-5 " style="text-align: end;">
                            800 cars available | <span style="color: #e4001b;">View all</span>

                        </div>
                        <div class="col-3  swapicondiv" >
                            <div class="swapicon">
                                <img class="swapiconpic" src="../img/swap/Group 3313.png" alt="">
                            </div>
                        </div>
                        <div class="col-9"  style="text-align: end;">
                            <div class="cardiscription">
                                <p>Excepteur sint occaecat cupidatat non “In my history of<br>
                                        working with trade show vendors, I can honestly say that<br>
                                        there is not one company that I've ever worked.</p>
                            </div>
                             

                            <div class=" form" style="text-align: left!important;">
                                <form >
                                <form action="" method="post" name="login" class="form-inline">
                                    <label class="my-1 mr-12" for="inlineFormCustomSelectPref">Registration number</label>
                                    <div class="form-group" style="padding-top: 10px; padding-bottom: 10px;">
                                       
                                        <select class="form-control" placeholder="e.g. LL58 JFK" style="border: solid 1px #707070; border-radius: 0;">
                                          <option>e.g. LL58 JFK</option>
                                          <option>e.g. LL58 JFK</option>
                                          <option>e.g. LL58 JFK</option>
                                          <option>e.g. LL58 JFK</option>
                                        </select>
                                     
                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Mileage </label>
                                    <select class="form-control" placeholder="e.g. LL58 JFK" style="border: solid 1px #707070; border-radius: 0;">
                                        <option>e.g. LL58 JFK</option>
                                        <option>e.g. LL58 JFK</option>
                                        <option>e.g. LL58 JFK</option>
                                        <option>e.g. LL58 JFK</option>
                                      </select>
                                    
                                    <button type="submit" class="becomrental" style="margin-top: 20px;">Negotiate</button>
                                    </form>
                            </div>
                        </div>

                    </div>
                    </div>
                    </div>
                
                </div>

            </div>
         </div>
         
         <div class="onlineAuctions">
            <div class="container">
            <div class="row headingsection">
                <div class="col-12 ">
                    <div class="Leasecarsectionheading">Online Auctions <span style="color:#e4001b;font-size: 25px;"> (More Online Auctions)</span></div>
                    
                    <img src="../img/featuredCar/Group 3236.png">
                </div>

            </div>
           </div>
           <div class=" sliderdiv">
               
                      
                <div class="  slickslidercontent ">
                    <div class="col-12 ">
                        <div class="card" >
                            <div class="cardimage">
                                <p>Used</p>
                                <img class="card-img-top" src="../img/leasecarsection/1.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <div class=" row ">
                                <div class="col-8  americancardbody "> 2020 Volkswagen Passat</div>
                                <div class="col-4  americancardbodyendday "> Ends in 4 days</div>
                                <div class="col-4 "><p class="cardPrice">$ 7.766</p></div>
                                <div class="col-8  bidnowbtndiv"><button class="bidnowbtn">Bid Now</button></div>
                            </div>
                                <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            </div>
                    </div>
                    <div class="col-12 ">
                        <div class="card" >
                            <div class="cardimage">
                                <p>Used</p>
                                <img class="card-img-top" src="../img/leasecarsection/2.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class=" row ">
                                    <div class="col-8  americancardbody "> 2020 Volkswagen Passat</div>
                                    <div class="col-4  americancardbodyendday "> Ends in 4 days</div>
                                    <div class="col-4 "><p class="cardPrice">$ 7.766</p></div>
                                    <div class="col-8  bidnowbtndiv"><button class="bidnowbtn">Bid Now</button></div>
                                </div>
                                
                                
                                <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            </div>
                    </div>
                    <div class="col-12 ">
                        <div class="card" >
                            <div class="cardimage">
                                <p>Used</p>
                                <img class="card-img-top" src="../img/leasecarsection/3.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <div class=" row ">
                                <div class="col-8 americancardbody "> 2020 Volkswagen Passat</div>
                                <div class="col-4  americancardbodyendday "> Ends in 4 days</div>
                                <div class="col-4 "><p class="cardPrice">$ 7.766</p></div>
                                <div class="col-8  bidnowbtndiv"><button class="bidnowbtn">Bid Now</button></div>
                            </div>
                                <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            </div>
                    </div>
                    <div class="col-12 ">
                    <div class="card" >
                        <div class="cardimage">
                            <p>Used</p>
                            <img class="card-img-top" src="../img/leasecarsection/3.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class=" row ">
                                <div class="col-8  americancardbody "> 2020 Volkswagen Passat</div>
                                <div class="col-4  americancardbodyendday "> Ends in 4 days</div>
                                <div class="col-4 "><p class="cardPrice">$ 7.766</p></div>
                                <div class="col-8  bidnowbtndiv"><button class="bidnowbtn">Bid Now</button></div>
                            </div>
                            <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        </div>
                    </div> <div class="col-12 ">
                        <div class="card" >
                            <div class="cardimage">
                                <p>Used</p>
                                <img class="card-img-top" src="../img/leasecarsection/2.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class=" row ">
                                    <div class="col-8  americancardbody "> 2020 Volkswagen Passat</div>
                                    <div class="col-4  americancardbodyendday "> Ends in 4 days</div>
                                    <div class="col-4 "><p class="cardPrice">$ 7.766</p></div>
                                    <div class="col-8  bidnowbtndiv"><button class="bidnowbtn">Bid Now</button></div>
                                </div>
                                
                                
                                <p class="cardescription">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            </div>
                    </div>
                    
                </div>
               
           </div>

        </div>  
        <div>
           
           
        <footer>
            <div class="container">
                <div class="row footer1">
                    <div class="col-3 widget1">
                        <div>
                            <img class="footerlogo" src="../img/logo/logo.png">
                        </div>
                        <div>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                 Lorem ipsum dolor sit amet, consectetu radipiscing elit, sed do.
                            </p>
                        </div>
                        <div>
                            <h6>Follow Us:</h6>
                        </div>
                        <div class="buttongroup socialmediaicongroup">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="	fab fa-instagram"></i></a>
                            <a href="#"><i class="	fab fa-facebook-f"></i></a>
                            <a href="#"><i class='	fab fa-youtube'></i></a>
                            <a href="#"><i class="	fab fa-pinterest"></i></a>
                        </div>
                        <button class="btn btn-store">
                            <i class="	fab fa-google-play"></i>
                            <span class="groupset">
                            <span class="btn-label">GET IT ON  </span>
                             <span class="btn-caption">GOOGLE PLAY</span>
                            </span>
                        </button>
                        <button class="btn btn-store">
                            <i class=" appleicon	fab fa-apple"></i>
                            <span class="groupset">
                                <span class="btn-label">Download on the  </span>
                                 <span class="btn-caption">APP STORE</span>
                                </span>
                        </button>
                       
                    </div>
                    <div class="col-3 widget2">
                        <div class="footerheading">
                            Contact Info
                        </div>
                        <div class="description">
                            <p>Address:</p>
                            <p>Lahore, Pakistan</p>
                            <p>Phone:</p>
                            <p>+92 324 7385 XXX</p>
                            <p>Email: everythingrents.official@gmail.com</p>

                        </div>
                    </div>
                    <div class="col-3 widget3">
                        <div class="footerheading">
                            My Account
                        </div>
                        <div class="description">
                            <a href="#">Contact us</a>
                            <a href="#">About us</a>
                            <a href="#">Careers</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Privacy policies</a>
                            <a href="#">Advertising terms & condition</a>
                            <a href="#">Display Advertise</a>
                            <a href="#">Cookies</a>
                        
                        </div>
                    </div>
                    <div class="col-3 widget4">
                        <div class="footerheading">
                            Twitter
                        </div>
                        <div class="row">
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/1.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/2.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/3.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/4.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/5.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/6.jpg">
                        </div>
                    </div>
                       
                    </div>

                </div>
                <div class="footerseparater"></div>
                <div class="absolutefooter">
                    © Power Performance Cars 2015 - 2020   |   All rights reserved
                </div>
            </div>
        </footer>
      
     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
    <script src="../js/slick.js" type="text/javascript"></script> 
    <script src="../js/coursal.js" type="text/javascript"></script>    
    <script src="../js/timer.js" type="text/javascript"></script>    


  </body>
</html>