<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/blog.css">
    
    
      <!-- fontawsome kit -->
    <script src="https://kit.fontawesome.com/f105d44546.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">


    <title>Power Performance Cars</title>
  </head>
  <body>
    <div>
      <div class=" topbar">
        <ul >
            <li ><a  href="./misecellinousCarPage.html">Miscellaneous</a></li>       
            <li ><a  href="./audisellingPageLeaseoption.html">Car Selling Lease</a></li> 
            <li ><a  href="./blog.html">Blog</a></li> 
            <li ><a  href="./carsellingPage.html">Events</a></li>   
            <li ><a  href="./login.html">Login </a></li>
            <li ><a  href="./changPassword.html">Change Password </a></li>
            <li ><a  href="./audisellingAuctionPage.html">Car Selling Auction</a></li>
            <li ><a  href="./audisellingPage.html" >Car Selling </a> </li>
            <li ><a  href="./garageServices.html" >Garage Service </a> </li>
        </ul>
      </div>
      <header>
        <div class="header">
            <nav class="navbar navbar-expand-lg headerbackground">
                <a class="navbar-brand" href="../index.html"><img src="../img/logo/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" style="color: #fff;"></i>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./americanMusclesCarPage.html">American Muscle</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./auctionCarPage.html">Auction Car</a>
                     
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./searchLeaseCarPage.html">Lease Cars</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./rentalCarPage.html">Rental</a>
                       
                       
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                     
                      <a class="nav-link" href="./ClassifiedCar.html">Classified</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item" >
                      <a class="nav-link" href="./swapcarPage.html">Swaps</a>
                    </li>
                   

                  <div class=" buttongroup">
                      <button class="signinbtn"> <span style="padding-right: 5px;"><img src="../img/logo/Path 4266.png" alt=""></span>sign in</button>
                      <button class="createadbtn" > Sell My Car</button>
                      

                  </div>
                </div>
              </nav>
        </div>
    </header>
    <div class="container-fliud slider">
      <div class="row m-0">
        <div class="col-12 aboutblog">
          <div class="blogHeading">
            Blog Detail
          </div>
          <div class="blogdescription">
            Elementum Libero Hac Leo Integer. Risus Hac Parturient Feugiat Litora<br>
Cursus Hendrerit Bibendum Per
          </div>

        </div>
      </div>
   


    </div>
    <div class="container">
      <div class="row">
        <div class="col-8 blogsection">
          <div class="row m-0">
            <div class="col-12 blogimage p-0">
              <img src="../img/events&blog/Image.jpg" alt="">
            </div>
            <div class="col-8 blogtitle ">
              Cartridge Is Better Than Ever
              A Discount Toner

            </div>
            <div class="col-12 blogwriter p-0">
             <div class="row m-0">
              <div class="col-11 writerNAme p-0">
                <h6 class="m-0">Zoe Charlton</h6>
                <p class="m-0">12 Dec, 2020  |  11:21 am</p>
               </div>
               <div class="col-1 picdiv p-0">
                 <div></div>

               </div>
               
             </div>

            </div>
            <div class="col-12 blogdetail">
              <p > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Gravida dictum fusce ut placerat.</p>

               <p> Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Etiam erat velit scelerisque in. Nibh sed pulvinar proin gravida. Ipsum dolor sit amet consectetur adipiscing. Habitant morbi tristique senectus et netus et malesuada fames. Viverra justo nec ultrices dui sapien eget mi proin sed. commodo. Id semper risus in hendrerit dolor magna.</p>
                
               <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Gravida dictum fusce ut placerat. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Etiam erat velit scelerisque in. Nibh sed pulvinar proin gravida. Ipsum dolor sit amet consectetur adipiscing. Habitant morbi tristique senectus et netus et malesuada fames. Viverra justo nec ultrices dui sapien eget mi proin sed. Et malesuada fames ac turpis egestas maecenas. Sit amet facilisis magna etiam tempor orci. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Sit amet dictum sit amet justo donec enim diam. Risus ultricies tristique nulla aliquet enim. Eget dolor morbi non arcu risus quis varius quam. Amet aliquam id diam maecenas ultricies mi.</p>
                
                <p>Risus feugiat in ante metus dictum at. Dui nunc mattis enim ut. Consequat interdum varius sit amet mattis vulputate. Faucibus turpis in eu mi. At risus viverra adipiscing at in. Eu feugiat pretium nibh ipsum consequat nisl vel. Arcu dui vivamus arcu felis. Massa enim nec dui nunc mattis. In iaculis nunc sed augue lacus viverra. Consequat interdum varius sit amet mattis. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Leo in vitae turpis massa.</p>
                
                <p>Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Quis viverra nibh cras pulvinar mattis nunc sed. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Mattis ullamcorper velit sed ullamcorper. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Netus et malesuada fames ac turpis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Pellentesque habitant morbi tristique senectus et netus. Nullam vehicula ipsum a arcu. Ornare aenean euismod elementum nisi quis eleifend. Velit sed ullamcorper morbi tincidunt ornare. Luctus venenatis lectus magna fringilla. Morbi quis commodo odio aenean.</p>
                
                <p>A lacus vestibulum sed arcu non odio euismod lacinia. Dictum non consectetur a erat nam at lectus urna. Molestie nunc non blandit massa enim nec dui nunc mattis. Mi tempus imperdiet nulla.</p>
            </div>
            <div class="col-12 p-0"><hr></div>
            <div class="col-6 commentsection p-0">
              <img class="imagpadding" src="../img/events&blog/25663.png" alt="">
               06 Comments
            </div>
            <div class="col-6 likesection p-0">
              <img class="imagpadding" src="../img/events&blog/Heart.png" alt="">
              Lily and 4 people like this 
            </div>
            <div class="col-12 comment1section" style="padding-top: 60px;">
              <p>Amazing piece. Super comfortable to kick back on or for propping up my feet. Color is true to image. Love it!</p>

            </div>
            <div class="col-12">
              <div class="row">
                  <div class="col-1 clientimages"><img src="../img/clientimages/1.png" alt=""></div>
                  <div class="col-6 clientName p-0">
                      <h6>John Smith, Architector</h6>
                      <p>Los Angeles, CA</p>
                  </div>
              </div>
          </div>
    
        <div class="col-12"><hr></div>
        <div class="col-12 comment1section" >
          <p>Amazing piece. Super comfortable to kick back on or for propping up my feet. Color is true to image. Love it!</p>

        </div>
        <div class="col-12">
          <div class="row">
              <div class="col-1 clientimages"><img src="../img/clientimages/2.png" alt=""></div>
              <div class="col-6 clientName p-0">
                  <h6>John Smith, Architector</h6>
                  <p>Los Angeles, CA</p>
              </div>
          </div>
      </div>
      <div class="col-12"><hr></div>
      <div class="col-12 comment1section">
        <p>Amazing piece. Super comfortable to kick back on or for propping up my feet. Color is true to image. Love it!</p>

      </div>
      <div class="col-12">
        <div class="row">
            <div class="col-1 clientimages"><img src="../img/clientimages/1.png" alt=""></div>
            <div class="col-6 clientName p-0">
                <h6>John Smith, Architector</h6>
                <p>San Francisco, CA</p>
            </div>
        </div>
    </div>
    <div class="col-12 leavcomment">
      Leave a Comment
    </div>
    <div class="col-12 commentform">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="4"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12 postcomment">
            <button class="btn">Post Comment</button>
          </div>
        </div>
      </form>
    </div>

        
         
          </div>
        </div>
        <div class="col-4 blogsection">
          <div class="row m-0">
            <div class="col-12 searchitem">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0 popularblog">
            <div class="col-12">
              <div class="row headingmargin">
                <div class="col-6 blogheading">Popular Blogs</div>
                <div class="col-4"><hr></div>
              </div>
            </div>
            <div class="col-12 blogcard">
              <div class="card" >
                <img class="card-img-top" src="../img/events&blog/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 blogcardheading">
                      Cartridge Is Better Than Ever
                        A Discount Toner
                    </div>
                    <div class="col-12 blogwritername">Mate Winston  |  Dec 2020</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 blogcard">
              <div class="card" >
                <img class="card-img-top" src="../img/events&blog/2.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 blogcardheading">
                      Cartridge Is Better Than Ever
                        A Discount Toner
                    </div>
                    <div class="col-12 blogwritername">Mate Winston  |  Dec 2020</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 blogcard">
              <div class="card" >
                <img class="card-img-top" src="../img/events&blog/3.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 blogcardheading">
                      Cartridge Is Better Than Ever
                        A Discount Toner
                    </div>
                    <div class="col-12 blogwritername">Mate Winston  |  Dec 2020</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 blogcard">
              <div class="card" >
                <img class="card-img-top" src="../img/events&blog/4.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 blogcardheading">
                      Cartridge Is Better Than Ever
                        A Discount Toner
                    </div>
                    <div class="col-12 blogwritername">Mate Winston  |  Dec 2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>  
      </div>
    

        <div class="advertisementdiv">
          <div class="container">
            <div class="row advertisementdivsection">
              <div class="col-6">
                <div class="advertisingheading"> Create your Advertisment</div>
                <div>
                  <img src="../img/featuredCar/Group 3236.png" alt="">
                </div>
                <div class="advertisingparagraph">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa<br>
                  qui officia deserunt 

                </div>
                <form>
                  <div class="row">
                    <div class="col-6">
                      <label> Registration #</label>
                      <input type="text" class="form-control" placeholder="e.g. LL58 JFK">
                    </div>
                    <div class="col-6">
                      <label> Registration #</label>
                      <input type="text" class="form-control" placeholder="e.g. 50,000">
                    </div>
                    <div class="col-6">
                      <button>create an  ad</button>
                    </div>
                    <div class="col-6 advertisementdivlink">
                      <a href="#" style="font-weight: bold;">Manage Existing Adverts</a>
                    </div>
                    <div class="col-6 advertisementdivlink">
                     See our <a href="#">advertisement prices</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>  
             
        <footer>
            <div class="container">
                <div class="row footer1">
                    <div class="col-3 widget1">
                        <div>
                            <img class="footerlogo" src="../img/logo/logo.png">
                        </div>
                        <div>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                 Lorem ipsum dolor sit amet, consectetu radipiscing elit, sed do.
                            </p>
                        </div>
                        <div>
                            <h6>Follow Us:</h6>
                        </div>
                        <div class="buttongroup socialmediaicongroup">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="	fab fa-instagram"></i></a>
                            <a href="#"><i class="	fab fa-facebook-f"></i></a>
                            <a href="#"><i class='	fab fa-youtube'></i></a>
                            <a href="#"><i class="	fab fa-pinterest"></i></a>
                        </div>
                        <button class="btn btn-store">
                            <i class="	fab fa-google-play"></i>
                            <span class="groupset">
                            <span class="btn-label">GET IT ON  </span>
                             <span class="btn-caption">GOOGLE PLAY</span>
                            </span>
                        </button>
                        <button class="btn btn-store">
                            <i class=" appleicon	fab fa-apple"></i>
                            <span class="groupset">
                                <span class="btn-label">Download on the  </span>
                                 <span class="btn-caption">APP STORE</span>
                                </span>
                        </button>
                       
                    </div>
                    <div class="col-3 widget2">
                        <div class="footerheading">
                            Contact Info
                        </div>
                        <div class="description">
                            <p>Address:</p>
                            <p>Lahore, Pakistan</p>
                            <p>Phone:</p>
                            <p>+92 324 7385 XXX</p>
                            <p>Email: everythingrents.official@gmail.com</p>

                        </div>
                    </div>
                    <div class="col-3 widget3">
                        <div class="footerheading">
                            My Account
                        </div>
                        <div class="description">
                            <a href="#">Contact us</a>
                            <a href="#">About us</a>
                            <a href="#">Careers</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Privacy policies</a>
                            <a href="#">Advertising terms & condition</a>
                            <a href="#">Display Advertise</a>
                            <a href="#">Cookies</a>
                        
                        </div>
                    </div>
                    <div class="col-3 widget4">
                        <div class="footerheading">
                            Twitter
                        </div>
                        <div class="row">
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/1.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/2.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/3.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/4.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/5.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/6.jpg">
                        </div>
                    </div>
                       
                    </div>

                </div>
                <div class="footerseparater"></div>
                <div class="absolutefooter">
                    © Power Performance Cars 2015 - 2020   |   All rights reserved
                </div>
            </div>
        </footer>
      
     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
    <script src="./js/checkbox.js" type="text/javascript">
   
    </script>

  </body>
</html>