<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/changePassword.css">
    
    
      <!-- fontawsome kit -->
    <script src="https://kit.fontawesome.com/f105d44546.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">


    <title>Power Performance Cars</title>
  </head>
  <body>
    <div>
      <div class=" topbar">
        <ul >
            <li ><a  href="./misecellinousCarPage.html">Miscellaneous</a></li>       
            <li ><a  href="./audisellingPageLeaseoption.html">Car Selling Lease</a></li>   
            <li ><a  href="./blog.html">Blog</a></li> 
            <li ><a  href="./carsellingPage.html">Events</a></li>   
            <li ><a  href="./login.html">Login </a></li>
            <li ><a  href="./changPassword.html">Change Password </a></li>
            <li ><a  href="./audisellingAuctionPage.html">Car Selling Auction</a></li>
            <li ><a  href="./audisellingPage.html" >Car Selling </a> </li>
            <li ><a  href="./garageServices.html" >Garage Service </a> </li>
        </ul>
      </div>
      <header>
        <div class="header">
            <nav class="navbar navbar-expand-lg headerbackground">
                <a class="navbar-brand" href="../index.html"><img src="../img/logo/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" style="color: #fff;"></i>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./americanMusclesCarPage.html">American Muscle</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./auctionCarPage.html">Auction Car</a>
                     
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./searchLeaseCarPage.html">Lease Cars</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./rentalCarPage.html">Rental</a>
                       
                       
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                     
                      <a class="nav-link" href="./ClassifiedCar.html">Classified</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item" >
                      <a class="nav-link" href="./swapcarPage.html">Swaps</a>
                    </li>
                  

                  <div class=" buttongroup">
                      <button class="signinbtn"> <span style="padding-right: 5px;"><img src="../img/logo/Path 4266.png" alt=""></span>sign in</button>
                      <button class="createadbtn" > Sell My Car</button>
                      

                  </div>
                </div>
              </nav>
        </div>
    </header>
    
             
     <div class="container">
       <div class="row">
         <div class="col-4 offset-4 ">
           <div class="row m-0">
             <div class="col-12 p-0">
               <div class="formheading">
                Make the most of<br> 
                <span>
                Power Performance Cars
              </span>
               </div>
             </div>
           
            <div id="register" class="register">
              <div class="col-12 input-button">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="../img/loginicon/message.png" alt=""></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
               </div>
              <div class="col-12 input-button">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="../img/loginicon/password.png" alt=""></span>
                  </div>
                  <input type="password" class="form-control inputicon" placeholder="Old Password" aria-label="Username" aria-describedby="basic-addon1">
                  <div class="input-group-append">
                    <span class="input-group-text informativediv"><img src="../img/carseelingtabs/Component 27 – 52.png"></span>
                  </div>
                </div>
               </div>
              <div class="col-12 input-button">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="../img/loginicon/password.png" alt=""></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
               </div>
               <div class="col-12">
                <button class="btn signinbutton"> Update Now</button>
              </div>
            </div>
       
            <div class="col-12 privacypolicy">
              By continuing, you agree to our <span>Terms of use</span> and
               <span>Privacy Policy.</span>
            </div>
            <div class="col-12 backpage">
              <a href="../index.html">
                  <button class="btn btn-back"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>  Back to Home Page</button>
                
              </a>
            </div>
           </div>
         </div>
       </div>

     </div>
      
     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
   

  </body>
</html>