<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/swapcarPage.css">
    
    
      <!-- fontawsome kit -->
    <script src="https://kit.fontawesome.com/f105d44546.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">


    <title>Power Performance Cars</title>
  </head>
  <body>
    <div>
      <div class=" topbar">
        <ul >
            <li ><a  href="./misecellinousCarPage.html">Miscellaneous</a></li>       
            <li ><a  href="./audisellingPageLeaseoption.html">Car Selling Lease</a></li>  
            <li ><a  href="./blog.html">Blog</a></li> 
            <li ><a  href="./carsellingPage.html">Events</a></li>   
            <li ><a  href="./login.html">Login </a></li>
            <li ><a  href="./changPassword.html">Change Password </a></li>
            <li ><a  href="./audisellingAuctionPage.html">Car Selling Auction</a></li>
            <li ><a  href="./audisellingPage.html" >Car Selling </a> </li>
            <li ><a  href="./garageServices.html" >Garage Service </a> </li>
        </ul>
      </div>
      <header>
        <div class="header">
            <nav class="navbar navbar-expand-lg headerbackground">
                <a class="navbar-brand" href="../index.html"><img src="../img/logo/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" style="color: #fff;"></i>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./americanMusclesCarPage.html">American Muscle</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./auctionCarPage.html">Auction Car</a>
                     
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                      <a class="nav-link" href="./searchLeaseCarPage.html">Lease Cars</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                        <a class="nav-link" href="./rentalCarPage.html">Rental</a>
                       
                       
                    </li>
                    <hr class="hr">
                    <li class="nav-item">
                     
                      <a class="nav-link" href="./ClassifiedCar.html">Classified</a>
                    </li>
                    <hr class="hr">
                    <li class="nav-item" >
                      <a class="nav-link" href="./swapcarPage.html">Swaps</a>
                    </li>
                  

                  <div class=" buttongroup">
                      <button class="signinbtn"> <span style="padding-right: 5px;"><img src="../img/logo/Path 4266.png" alt=""></span>sign in</button>
                      <button class="createadbtn" > Sell My Car</button>
                      

                  </div>
                </div>
              </nav>
        </div>
    </header>
        <div class="swapPageSection">
          <div class="container">
            <div class="row swapheadingrow ">
              <div class="col-3 p-0 swapheading">
                <img src="./img/swapPage/Group 3313.png" alt="">
                Swap your car
                
              </div>
              <div class="col-7 p-0 headinghr"><hr></div>
              <div class="col-2 p-0 viewdiv">
                <div class="avaliablecars"> 805 Cars Availabe</div> 
                <div class="separater"> |</div> 
                <div class="viewall"> view all</div>
              </div>
               </div>
               <div class="row">
                 <div class="col-8">
                  <div class="divtabs">
                    <div class="row divstab">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#carDetail">                       
                              <img src="../img/swapPage/caricon.png" alt="">
                              <p> Car Detail</p>  
                          
                        </a>
                      </li>                    
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pricing">
                          <img src="../img/swapPage/pricetagicon.png" alt="">
                          <p> Pricing</p>  
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#result">
                          <img src="../img/swapPage/resulticon.png" alt="">
                          <p> Result</p>  
                         </a>
                      </li>
                    </ul>
                  </div>
                  
                    <!-- Tab panes -->
                    <div class="row">
                      <div class=" col-12 p-0">
                    <div class="tab-content">
                      <div id="carDetail" class="container tab-pane fade "><br>
                        <div class="container">
                        <div class="row">
                          <div class="col-12  firsttabheading">
                            Tell us about your current car                           
                          </div>
                          <div class="col-4 registrationnumber">
                            <label>Registration Number</label>
                            <div class="input-group swapinput mb-3">
                              <div class="input-group-prepend ">
                                <span class="input-group-text gbswap" id="basic-addon1">
                                  <img src="../img/swapPage/Group 3414.png" alt="">
                                  GB
                                </span>
                              </div>
                              <input type="text" class="form-control" placeholder="LL58 LGK" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                          </div>
                          <div class="col-4 mileage">
                            
                                  <label>Mileage </label>
                                  <input type="text" class="form-control" placeholder="50,000">
                                
                          </div>
                          <div class="col-4 updatebtndiv">
                            <button type="submit" class="btn btn-update">Update Detail</button>

                            
                          </div>
                          <div class="col-12 matter ">Please make sure the mileage is accurate.<a href="#"> Why this matters?</a></div>
                        </div>
                        <div class="col-12 p-0 swappageform">
                          <form>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">* Make:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>Audi</option>
                                  <option>Mercedies</option>
                                  <option>Ford</option>
                                  <option>Honda</option>
                                </select>                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">* Model:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>A5</option>
                                  <option>A6</option>
                                  <option>A7</option>
                                  <option>A8</option>
                                </select>                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">* Variant:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>Couple (2007-2012) B8</option>
                                  <option>Couple (2007-2012) B8</option>
                                  <option>Couple (2007-2012) B8</option>
                                  <option>Couple (2007-2012) B8</option>
                                </select>                             
                               </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">* Trim:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>Sports</option>
                                  <option>Sports</option>
                                  <option>Sports</option>
                                  <option>Sports</option>
                                </select>                              
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">* Model:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                </select>                              
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-10 offset-sm-2 offsetdescription">
                                <p >If the vehicle details below are not quite right,</p>
                                 <p> please select the correct derivative from the above list.</p>
                                                            
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-10 offset-sm-2 offsetdescription">
                                <div class="row">
                                  <div class="col-sm-4 bodytype">
                                    <p>Body Type: <span>Couple</span></p>
                                  </div>
                                  <div class="col-sm-4 bodytype">
                                    <p>Body Type: <span>Couple</span></p>

                                  </div>
                                  <div class="col-sm-4 bodytype">
                                    <p>Body Type: <span>Couple</span></p>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Colour:</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                  <option>2.7 TDI Sport Couple 2dr Diesel Multitronic (167 g/km, 187 bhp)</option>
                                </select>                              
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label"> Condition:</label>
                              <div class="col-sm-10">
                              <input type="text" class="form-control" value="New" style="color: #e4001b;">                       
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label"> Condition:</label>
                              <div class="col-sm-10">
                                <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;" multiple></p>
                                <p><label class="addphoto" for="file" style="cursor: pointer;"> <i class="fa fa-camera"></i> Add Photo</label></p>
                                <p class="imageborder">
                                  <img id="output" width="20%" height="inherit"  /></p>
                             
                               </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 backbtn ">
                                <button class="btn btn-back"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>  Back</button>
                                 </div>
                              <div class="col-sm-6 nextbtn">
                                <button class=" btn btn-next">Next</button>
                               
                             
                               </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-12"><hr></div>
                            </div>
                            <div class="form-group row">
                              <div class="col-12 footernote">
                                <p> Stuck?<a href="#"> Get help now </a></p>

                                <p class="m-0">  * Denotes mandatory field</p>
                                  <p class="m-0">* Please note the design and layout of published adverts may differ from the preview. For full details see our Terms & Conditions </p>
                              </div>
                            </div>


                            </div>
                           
                          
                           
                          </form>
                        </div>
                      </div>
                      
                      <div id="pricing" class="container tab-pane active ">
                        <div class="container">
                          <div class="row pricingsection">
                          <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 p-0">
                            <div class="card" >
                              <div class="card-header p-0">
                                <h3>Audi AUDI A1 Prosmatic 2018</h3>
                                <p>Audi A5 2.7 TDI Sport Multitronic 2dr</p>
                              </div>
                              <div class="cardimage">
                              <img class="card-img-top" src="../img/swapPage/card1.png" alt="Card image cap">
                            
                            </div>
                              <div class="card-body p-0">
                               <div class="row ">
                                 <div class="col-12 carworth">Your Car Worth</div>
                                 <div class="col-12"> 
                                   <div class="  carspecspric">
                                  £25,360
                              </div></div>
                              <div class="col-12"><hr></div>
                              <div class="col-12 summarybilldetail edit"> Edit</div>
                               </div>
                               <div class="row summarysection">
                                <div class="col-12 summaryheading">
                                    <i class="fas fa-file-alt"></i>
                                    Car Summary
                                </div>
                                <div class="col-6 summarybillheading " >Purchase type:</div>
                                <div class="col-6 summarybilldetail">Paypal</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Model:</div>
                                <div class="col-6 summarybilldetail">Audi</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Variant:</div>
                                <div class="col-6 summarybilldetail">A5</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Trim:</div>
                                <div class="col-6 summarybilldetail">Couple (2007-2012) B8</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Derivative:</div>
                                <div class="col-6 summarybilldetail">2.7 TDI Sport Couple 2dr </div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Body type:</div>
                                <div class="col-6 summarybilldetail">Couple</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Transmission:</div>
                                <div class="col-6 summarybilldetail">Automatic</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Fuel type:</div>
                                <div class="col-6 summarybilldetail">Diesel</div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Colour:</div>
                                <div class="col-6 summarybilldetail">Black</div>
                                <div class="col-12"><hr></div>
                               
                            
                            </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 separaterline">
                            <div class="image">
                            <img src="../img/swapPage/swapimage.jpg" alt="">
                          </div>
                            <div></div>

                          </div>
                          <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 p-0">
                            <div class="card" >
                              <div class="card-header p-0">
                               <div class="row secondcar">
                                 <div class="col-6 select p-0"> Select</div>
                                 <div class="col-6 dropbtn p-0">
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      New
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                 </div>
                               </div>
                              <div class="cardimage">
                              <img class="card-img-top" src="../img/swapPage/Image.png" alt="Card image cap">
                            
                            </div>
                              <div class="card-body p-0">
                               <div class="row ">
                                 <div class="col-12 carbrand">Car Brand</div>
                                 <div class="col-12 selectcarbrand"> 
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Select Brand
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                  </div>
                              <div class="col-12 summarybilldetail edit carsearch"><a href="#"> Search Car Manually</a></div>
                               </div>
                               <div class="row summarysection">
                                <div class="col-12 summaryheading">
                                    <i class="fas fa-file-alt"></i>
                                    Car Summary
                                </div>
                                <div class="col-6 summarybillheading " >Purchase type:</div>
                                <div class="col-6 summarybilldetail"> 
                                  <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div>
                              </div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Model:</div>
                                <div class="col-6 summarybilldetail"><div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div></div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Variant:</div>
                                <div class="col-6 summarybilldetail"><div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div></div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Trim:</div>
                                <div class="col-6 summarybilldetail"><div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div></div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Derivative:</div>
                                <div class="col-6 summarybilldetail"><div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div></div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Body Type:</div>
                                <div class="col-6 summarybilldetail"><div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div></div>
                                <div class="col-12"><hr></div>
                                <div class="col-6 summarybillheading " >Transmission:</div>
                                <div class="col-6 summarybilldetail">
                                  <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div>
                              </div>
                                <div class="col-6 summarybillheading " >Fuel type:</div>
                                <div class="col-6 summarybilldetail">
                                  <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div>
                                </div>
                              </div>
                                <div class="col-12"><hr></div>
                               
                            
                            </div>
                              </div>
                              
                           
                              </div>
                            </div>
                           
                          </div>

                        </div>
                        <div class="col-6 offset-6">
                          <div class="row soldbydiv">
                            <div class="col-8">
                              <p>Sold By</p>
                              <h6 class="m-0">Prada Car Gear</h6>
                               <h6 class="m-0">(UK Melbourne)</h6>

                            </div>
                            <div class="col-4 messge">
                              <a href="#">
                                <img src="../img/swapPage/msg.png" alt="">
                              </a>

                            </div>
                          </div>
                          
                        </div>
                        <div class="form-group row btngrops">
                          <div class="col-sm-6 backbtn ">
                            <button class="btn btn-back"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>  Back</button>
                             </div>
                          <div class="col-sm-6 nextbtn">
                            <button class=" btn btn-next">Swap</button>
                           
                         
                           </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-12"><hr></div>
                        </div>
                        <div class="form-group row">
                          <div class="col-12 footernote">
                            <p> Stuck?<a href="#"> Get help now </a></p>

                            <p class="m-0">  * Denotes mandatory field</p>
                              <p class="m-0">* Please note the design and layout of published adverts may differ from the preview. For full details see our Terms & Conditions </p>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div id="result" class="container tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
      
                  </div>
                 
                
                
                 <div class="col-4" style="padding-right: 0;">
                   <div class="row">
                     <div class="col-12">
                      <div class="card" >
                        <div class="cardimage">
                        <img class="card-img-top" src="../img/swapPage/card1.png" alt="Card image cap">
                        <div class="divcard">
                         <p><a href="#"> View more offers</a> <img src="../img/swapPage/arrow.png" alt=""></p>
                        </div>
                      </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-12 carname">2020 Volkswagen Passat </div>
                            <div class="col-12 carspecs">1.0t GDi ISG 2 %dr</div> 
                            
                              <div class="col-6 cardiv">
                              <div class=" carprice ">
                                  <p><span> RPP</span>  <del> £26,125</del></p>
                              </div>
                              <div class="  carspecspric">
                                  £25,360
                              </div>
                              <div class="col-12 p-0 save">
                                <span style="color: #707070;font-size: 16px;padding-right: 10px;">Save</span> 
                                <div class="saveprice">£280</div>
                                
                            </div>

                              
                          </div>
                          <div class="col-6 sidecard">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                          </div>
                          </div>
                        </div>
                      </div>
                     </div>
                     <div class="col-12" style="margin-top: 20px;">
                      <div class="card" >
                        <div class="cardimage">
                        <img class="card-img-top" src="../img/swapPage/card2.png" alt="Card image cap">
                        <div class="divcard">
                         <p><a href="#"> View more offers</a> <img src="../img/swapPage/arrow.png" alt=""></p>
                        </div>
                      </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-7 subheadind">Bid Amount Reached </div>
                            <div class="col-5 ">
                              <div class="  carspecspric">
                                  £25,360
                              </div>
                           </div>
                           <div class="col-12">
                            <div class="row btnsdiv">
                            <div class="col-6">
                                <label>Pre Bid Closed</label>
                                <button class="prebidbtn" href="#">Pre Bid</button>
                            </div>
                            <div class="col-6">
                              <label>Pre Bid Closed</label>
                              <button class="livbidbtn" href="#">Live Bid</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 lastline">
                          <p>22 Bids <span>(You're on top)</span></p>
                        
                      </div>
                           

                              
                          </div>
                          </div>
                        </div>
                      </div>
                     </div>
                   </div>

                 </div>
               </div>
              
            
              
            </div>
            
          </div>
        </div>
        <div class="advertisementdiv">
          <div class="container">
            <div class="row advertisementdivsection">
              <div class="col-6">
                <div class="advertisingheading"> Create your Advertisment</div>
                <div>
                  <img src="../img/featuredCar/Group 3236.png" alt="">
                </div>
                <div class="advertisingparagraph">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa<br>
                  qui officia deserunt 

                </div>
                <form>
                  <div class="row">
                    <div class="col-6">
                      <label> Registration #</label>
                      <input type="text" class="form-control" placeholder="e.g. LL58 JFK">
                    </div>
                    <div class="col-6">
                      <label> Registration #</label>
                      <input type="text" class="form-control" placeholder="e.g. 50,000">
                    </div>
                    <div class="col-6">
                      <button>create an  ad</button>
                    </div>
                    <div class="col-6 advertisementdivlink">
                      <a href="#" style="font-weight: bold;">Manage Existing Adverts</a>
                    </div>
                    <div class="col-6 advertisementdivlink">
                     See our <a href="#">advertisement prices</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>  
             
        <footer>
            <div class="container">
                <div class="row footer1">
                    <div class="col-3 widget1">
                        <div>
                            <img class="footerlogo" src="../img/logo/logo.png">
                        </div>
                        <div>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                 Lorem ipsum dolor sit amet, consectetu radipiscing elit, sed do.
                            </p>
                        </div>
                        <div>
                            <h6>Follow Us:</h6>
                        </div>
                        <div class="buttongroup socialmediaicongroup">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="	fab fa-instagram"></i></a>
                            <a href="#"><i class="	fab fa-facebook-f"></i></a>
                            <a href="#"><i class='	fab fa-youtube'></i></a>
                            <a href="#"><i class="	fab fa-pinterest"></i></a>
                        </div>
                        <button class="btn btn-store">
                            <i class="	fab fa-google-play"></i>
                            <span class="groupset">
                            <span class="btn-label">GET IT ON  </span>
                             <span class="btn-caption">GOOGLE PLAY</span>
                            </span>
                        </button>
                        <button class="btn btn-store">
                            <i class=" appleicon	fab fa-apple"></i>
                            <span class="groupset">
                                <span class="btn-label">Download on the  </span>
                                 <span class="btn-caption">APP STORE</span>
                                </span>
                        </button>
                       
                    </div>
                    <div class="col-3 widget2">
                        <div class="footerheading">
                            Contact Info
                        </div>
                        <div class="description">
                            <p>Address:</p>
                            <p>Lahore, Pakistan</p>
                            <p>Phone:</p>
                            <p>+92 324 7385 XXX</p>
                            <p>Email: everythingrents.official@gmail.com</p>

                        </div>
                    </div>
                    <div class="col-3 widget3">
                        <div class="footerheading">
                            My Account
                        </div>
                        <div class="description">
                            <a href="#">Contact us</a>
                            <a href="#">About us</a>
                            <a href="#">Careers</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Privacy policies</a>
                            <a href="#">Advertising terms & condition</a>
                            <a href="#">Display Advertise</a>
                            <a href="#">Cookies</a>
                        
                        </div>
                    </div>
                    <div class="col-3 widget4">
                        <div class="footerheading">
                            Twitter
                        </div>
                        <div class="row">
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/1.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/2.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/3.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/4.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/5.jpg">
                        </div>
                        <div class="col-4 footerimgdiv">
                            <img src="../img/footerimages/6.jpg">
                        </div>
                    </div>
                       
                    </div>

                </div>
                <div class="footerseparater"></div>
                <div class="absolutefooter">
                    © Power Performance Cars 2015 - 2020   |   All rights reserved
                </div>
            </div>
        </footer>
      
     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
    <script src="./js/checkbox.js" type="text/javascript">
  
   
    </script>
    <script>
      var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
      };
      </script>
    
  </body>
</html>